<div *ngIf="isSmallScreen" class="overlay">
  Sorry, folks! Doesn't support this screen size, yet.
  Please switch to a bigger screen :)
</div>
<div *ngIf="!isSmallScreen">
  <div class="header-container">
    <h3 class="header">Conway's</h3>
    <h1 class="header">Game of Life</h1>
  </div>
  <div class="section">
    <div class="pattern-list">
      <div class="pattern-item" (click)="patternSelected(0)">
        LINE
      </div>
      <div class="pattern-item" (click)="patternSelected(1)">
        GLIDER
      </div>
      <div class="pattern-item" (click)="patternSelected(2)">
        SPACESHIP
      </div>
      <div class="pattern-item" (click)="patternSelected(3)">
        SMALL EXPLODER
      </div>
      <div class="pattern-item" (click)="patternSelected(4)">
        EXPLODER
      </div>
      <div class="pattern-item" (click)="patternSelected(5)">
        TUMBLER
      </div>
      <div class="pattern-item" (click)="patternSelected(6)">
        GOSPEL
      </div>
    </div>
    <app-grid (click)="playPauseToggle()" class="grid-container"></app-grid>
    <div class="pattern-list">
      <div class="wiki-container">
        <div class="wikis">
          <p class="wiki">The Game of Life, also known simply as Life, is a cellular automaton devised by the British
            mathematician
            John Horton Conway in 1970. It is a zero-player game, meaning that its evolution is determined by its
            initial
            state,
            requiring no further input. One interacts with the Game of Life by creating an initial configuration and
            observing how
            it evolves.
          </p>
          <br>
          <p class="wiki">
            John Horton Conway died on 11 April 2020. This is a tribute to his contribution to mathematics.
          </p>
          <br>
          <p class="wiki">
            Check out his <a href="https://www.youtube.com/watch?v=R9Plq-D1gEk" target="_blank">YouTube interview</a>
          </p>
        </div>
      </div>
      <br>
      <p class="instruction">
        Click on the field to start
      </p>
    </div>
  </div>
</div>